<template name="home">
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li class="active"><a href="{{pathFor route='home'}}">Home</a></li>
				<li><a href="https://github.com/MiroHibler/meteor-mailchimp/" target="_new">GitHub</a></li>
			</ul>
			<h3>MailChimp for Meteor <small><a href="https://guthub.com/MiroHibler/meteor-mailchimp/" target="_new">v1.0.4</a></small></h3>
		</div>

		<div class="jumbotron">
			<h2>{{welcome}}</h2>
			<p class="lead">{{additional}}</p>
			<div class="MailChimpListSubscribe">
				{{> MailChimpListSubscribe}}
			</div>
		</div>

		<div class="row marketing">
			<div class="col-lg-6 col-xs-6">
				<h4>1. Install package:</h4>
				<pre>meteor add miro:mailchimp</pre>
				<p><br/></p>
				<h4>2. Insert in your template:</h4>
				<pre>&#123;&#123;&gt; MailChimpListSubscribe&#125;&#125;</pre>
			</div>

			<div class="col-lg-6 col-xs-6">
				<h4>Email validation</h4>
				<p>A simple (browser only) email address validation (pure JavaScript!).</p>

				<h4>API v2.0</h4>
				<p>Uses the <a href="http://apidocs.mailchimp.com/api/2.0/" target="_new">latest API</a> available.</p>

				<h4>Dependencies</h4>
				<p>Based on <a href="https://github.com/gomfunkel/node-mailchimp/" target="_new">node-mailchimp</a> package.</p>
			</div>

			<div class="col-lg-12 col-xs-12">
				<h4>3. Add to your settings.json:</h4>
				<pre>"private":&nbsp;&#123;<br/>	"MailChimp":&nbsp;&#123;<br/>		"apiKey": "&lt;Your MailChimp API Key&gt;",<br/>		"listId":&nbsp;"&lt;ID of your default mailing list&gt;"<br>	&#125;<br>&#125;</pre>
			</div>

		</div>

		<div class="footer">
			<p><a href="http://miro.mit-license.org">&copy; M. Hibler 2014-2015</a><span class="pull-right"><a href="http://eepurl.com/N1-HX">Powered by MailChimp</a></span></p>
		</div>

	</div> <!-- /container -->
</template>
